Build
Binaries
DerivedDataCache
Intermediate
Saved

Content/StarterContent
Content/MedievalDungeon
Content/InfinityBladeIceLands
Content/InfinityBladeWarriors
Content/InfinityBladeAdversaries
Content/ParagonMinions

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset